@use '../../../scss/index.scss' as *;

.footer{
    background-color: myTheme(b2);
    @include flex(center);
    max-width: 2560px;

    // responsive media ---
    @include bk(sm){
        @include marginPadding-0();
    }
    // responsive media ---

    .inner-footer{
        // background-color: yellow;
        @include marginPadding-0();
        @include grid-1(center);
        text-align: center;

        img{
            width: 100%;
        }

        // responsive media ---
        @include bk(sm){
            @include flex(space-between);
            padding: .5em;
        }

        @include bk(lg){
            padding: .5em 1em;
            margin-inline:auto;
        }
        @include bk(xl){
            padding: .5em 1em;
            margin-inline:auto;
        }
        @include bk(xxl){
            @include marginPadding-0();
            @include flex(center);
            gap: 1em;
            padding: .5em;
            margin-inline: auto;
        }
        // responsive media ---


        .logo{
            width: 20%;
            margin-bottom: .5em;
            // responsive media ---
            @include bk(sm){
                @include marginPadding-0();
                width: 6%;
            }
            // responsive media ---
        }


        .info-Container{
            @include flex(space-between);
            gap: 1em;

            .ftinfo{
                @include marginPadding-0();
                letter-spacing: normal;
                color: myTheme(b1);
                font-size: .5rem;
            }
        }
    }
}