@use "../../../scss/index.scss" as *;

.navBar{
    position: sticky;
    top: 0;
    z-index: 10;
    // background: rgba(0, 0, 0, 0.9);
    background-color: myTheme(b2);
    overflow: hidden;
    
    .inner_navbar{
        @include flex(space-between);
        padding:  .5em;
        // box-shadow: 0 0 0 2px rgba(0, 0, 0, .9);

        // responsive media ---
        @include bk(sm){
            padding: .5em 1em;
            margin-inline:auto;
        }

        @include bk(lg){
            padding: .5em 3em;
            margin-inline:auto;
        }
        @include bk(xl){
            padding: .5em 7em;
            margin-inline:auto;
        }
        @include bk(xxl){
            padding: .5em 7em;
            max-width: 1440px;
            margin-inline:auto;
        }
        // responsive media ---

        // logo Container ---
        .logoContainer{
            img{
                width: 4em;
                // border-radius: 50%;
                @include bk(sm){
                    width: 5em;
                }
            }
        }
        // logo Container ---

        // Navigation Container ---
        nav{
            position: fixed;
            top: 0;
            right: -100%;
            width: 70%;
            height: 100%;
            background-color: myTheme(b2);
            z-index: 15;
            transition: all .3s ease-in-out;

            // responsive media ---
            @include bk(sm){
                right: 0;
                top: 0;
                background-color: unset;
                width: auto;
                position: unset;
            }
            // responsive media ---

            // Animation for this Navigation Element ---
            &.open{
                right:0;
            }

            // Close Button ---
            .btnClose{
                width: 2em;
                float: right;
                margin: 1em;

                // responsive media ---
                @include bk(sm){
                    display: none;
                }
                // responsive media ---
            }

            // List of Links ---
            .list-of-links{
                margin-top: 6em;
                padding: 0;
                list-style-type: none;

                // resposive media ---
                @include bk(sm){
                    @include flex(space-between);
                    @include marginPadding-0();
                }
                // resposive media ---

                // Navlink ---
                .navLink{
                    display: block;
                    padding: 1em 1.2em;
                    text-decoration: none;
                    font-family: "JetBrains-Mono";
                    color: myTheme(background);
                    cursor: pointer;

                    // resposive media ---
                    @include bk(sm){
                        color: myTheme(b1);
                        font-size: .7rem;
                        @include marginPadding-0();
                        padding-left: 1.5em;
                        text-transform: uppercase;
                        position: relative;

                        // This is the lower line animation when hovered ---
                        &::before {
                            content:'';
                            position: absolute;
                            top: 1.5em;
                            left: 1.6em;
                            width: 0%;
                            height: 2px;
                            background-color: myTheme(b1);
                            transition: all .3s ease-in-out;
                        }
                    }
                    // resposive media ---

                    // Navlink Hovering Effects ---
                    &:hover{
                        background-color: myTheme(ascent);

                        // responsive media ---
                        @include bk(sm){
                            color: myTheme(ascent2);
                            background: none;
                            font-weight: 700;
                        }
                        // responsive media ---
                    }
                     &:hover::before{
                        width: 40%;
                     }
                }
            }
        }
        // Navigation Container ---

        // Open Button Container ---
        .btnOpen{
            // filter: invert(100%);
            width: 1.5em;

            // resposive media ---
            @include bk(sm){
                display: none;
            }
            // resposive media ---
        }
        // Open Button Container ---
    }
}