@mixin flex($flex-position){
    display: flex;
    justify-content: $flex-position;
    align-items: center;
}

@mixin flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-s {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}

@mixin flex-e {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
}

@mixin grid-1($position) {
    display: grid;
    grid-template-columns: 1fr;
    place-items: $position;
}