@use '../scss/index.scss' as *;

.code{
    @include marginPadding-0();
    @include wrapper1();

    // responsive media ---
    @include bk(sm){
        @include wrapper2();
        margin-inline:auto;
    }
    @include bk(md){
        @include wrapper3();
        margin-inline:auto;
    }
    @include bk(xl){
        @include wrapper4();
        margin-inline:auto;
    }
    @include bk(xxl){
        @include wrapper4();
        max-width: 1440px;
        margin-inline:auto;
    }
    // responsive media ---

    @include bl-b();
    
    .innerCode{
        @include grid-1(center);
        gap: 1em;

        // responsive media ---
        @include bk(sm){
            @include flex(space-between);
            align-items: start;
            margin: 2em 0;
        }
        @include bk(lg){
            gap: 2em;
        }
        // responsive media ---
    }
}